<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openmind.hacadaptor.dao.LogMapper">
    <!--<resultMap id="details" type="com.openmind.hacadaptor.mode.Device">-->


    <!--</resultMap>-->
    <!--&lt;!&ndash;返回device 包含 对应的 account 和  port &ndash;&gt;-->
    <update id="setWorkNoteStatusClosed" parameterType="String">
      update log set  status ='closed',closedate=#{closeDate} where worknotenumber=#{workNoteNumber}
    </update>
</mapper>